
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: rgba(87, 84, 84, 0.39);
}

.page {
    display: flex;
   
    align-items: center;
    justify-content: center;
    height: 70vh;


}

.form__group {
    margin-bottom: 15px;
}

.input {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: rgba(15, 15, 15, 0.18);
    border-radius: 131px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}

.input.error {
    border-color: red;
}

.input::placeholder {
    color: #ccc;
}

.checkbox__label {
    user-select: none;
}

.checkbox__input.error+.checkbox__label {
    color: red;
}

.btn {
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: 0;
    width: 100%;
    outline: 0;
    cursor: pointer;
    color: #fff;
}
